body {
    margin: 0;
    font-family: 'Roboto';
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding:12px;
}

.logo {
    width: 89px;
    height: 26px;
}

.menu-icon {
    width: 25px;
    height: 25px;
}

.menu-desktop {
    color: white;
    display: none
}

.premium {
    color: white;
    background-color:#529CF1;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50vh;
}

h1 {
    font-size:50px;
}

h2 {
    font-size: 25px;
    margin-bottom: 25px;
}

.terms {
    font-size: 12px;
    margin-top: 30px;
}

button {
    background-color: #26B758;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.why {
text-align: center;
font-size: 25px;
}

.icon-container {
    width: 100px;
}

.icons {
    width: 100px;
    }

.benefits-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-bottom: 40px;
}

.icon-container {
    margin-left: 40px;
    margin-top: 40px;
}

.benefit-text--1, .benefit-text--2, .benefit-text--3, .benefit-text--4 {
    margin-top: 40px;
    margin-right: 40px;
    grid-column: 2 / 4;
}

footer {
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 30px 20px 30px 20px;
    display: flex;
    justify-content: space-between;
}

.flag {
    width: 25px;
}

.links-footer {
    align-self: flex-end;
}

.legal {
    margin-bottom: 20px;
}

.cookies {
    margin-left: 20px;
}

.copy {
    align-self: flex-start;
}

.spain {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

@media screen and (min-width:736px) {
    header{
        padding: 10px 20px 10px 20px;
        display: flex;
        align-items: center;
    }
    .menu-desktop{
    font-weight: bold;
    display: flex;
    gap: 20px
    }

    .menu-icon{
        display: none;
    }  

    .premium{
    background-image: url('./Assets/Images/premium_dancer.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    }

    button{
        width: 150px;
        padding: 15px 0px 15px 0px;
    }

    .benefits-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    } 

    .benefit-text--1 {
        grid-column: 2 / 4;
    }

    .benefit-text--2 {
        grid-column: 5 / 7;
    }

    .benefit-text--3 {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .benefit-text--4 {
        grid-column: 5 / 7;
        grid-row: 2 / 3;
    }

     .links-footer {
        align-content: flex-start;
    }

}

@media screen and (min-width:1024px) {
    .benefits-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: center;
        text-align: center;
    }

    .icon-container {
        margin-right: 60px;
    }

    .benefit-text--1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-top: 1px;
    }

    .benefit-text--2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-top: 1px;
    }

    .benefit-text--3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        margin-top: 1px;
    }

    .benefit-text--4 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        margin-top: 1px;
    }
}