body {
    margin: 0;
    font-family: 'Roboto';
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding:12px;

}

.logo {
    width: 89px;
    height: 26px;
}

.menu {
    width: 25px;
    height: 25px;
}

.premium {
    color: white;
    background-color:#529CF1;
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}

h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

.terms {
    font-size: 9px;
    margin-top: 25px;
}

button {
    background-color: #26B758;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    color: white;
}

.why {
text-align: center;
font-size: 25px;
}

.icons {
    width: 100px;
}
.benefit-1 {
    display:flex;
    justify-content: center;
}