body {
    margin: 0;
    font-family: 'Roboto';
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding:12px;

}

.logo {
    width: 89px;
    height: 26px;
}

.menu {
    width: 25px;
    height: 25px;
}

.premium {
    color: white;
    background-color:#529CF1;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50vh;
}

h1 {
    font-size:50px;
}

h2 {
    font-size: 25px;
    margin-bottom: 25px;
}

.terms {
    font-size: 12px;
    margin-top: 30px;
}

button {
    background-color: #26B758;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    color: white;
}

.why {
text-align: center;
font-size: 25px;
}

.icons {
    width: 100px;
}
.benefit-1 {
    display:flex;
    margin: 40px;
    gap: 40px;
}

.benefit-2 {
    display:flex;
    margin: 40px;
    gap: 40px;
}

.benefit-3 {
    display:flex;
    margin: 40px;
    gap: 40px;
}

.benefit-4 {
    display:flex;
    margin: 40px;
    gap: 40px;
}

footer {
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 30px 20px 30px 20px;
    display: flex;
    justify-content: space-between;
}

.flag {
    width: 25px;
}

.links-footer {
    align-self: flex-end;
}

.legal {
    margin-bottom: 20px;
}

.cookies {
    margin-left: 20px;
}

.copy {
    align-self: flex-start;
}

.spain {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

